<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SuiteName">
    <listeners>
        <listener class-name="com.w2a.Api_Automation.listeners.CustomListeners"></listener>
    </listeners>
    <test name="TestName">
        <classes>
            <class name="com.w2a.Api_Automation.testcases.TestCustomerAPI"/>
        </classes>
    </test>
</suite>
